/* From Uiverse.io by suda-code */ 
.buttondevis {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #b6d023;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.buttondevis:hover {
  background-color: #6fff7b;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.buttondevis:active {
  background-color: #3dcf64;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}