/* Services */ 
.services {
    width: 600px;
    height: 700px;
    perspective: 1000px;
  }
  
  .services-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .services:hover .services-inner {
    transform: rotateY(180deg);
  }
  
  .services-front,
  .services-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .services-front {
    background-color: #181818;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #181818;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .services-back {
    background-color: #b6d023;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #b6d023;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }



  /* Products */ 
.produits {
    width: 600px;
    height: 700px;
    perspective: 1000px;
  }
  
  .produits-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .produits:hover .produits-inner {
    transform: rotateY(180deg);
  }
  
  .produits-front,
  .produits-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .produits-front {
    background-color: #181818;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #181818;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .produits-back {
    background-color: #b6d023;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #b6d023;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  